@import '~@angular/material/theming';

@include mat-core();

$my-app-primary: mat-palette($mat-blue);

$my-app-accent: mat-palette($mat-deep-orange, 500, 200, A100);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);

.tool-bar-theme{
  $my-app-primary: mat-palette($mat-blue-grey);
  $my-app-accent: mat-palette($mat-deep-orange, 500, 200, A100);
  $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
  @include mat-form-field-theme($my-app-theme);
  @include mat-card-theme($my-app-theme);
  @include mat-button-toggle-theme($my-app-theme);
}




